.login-page {
  align-items: center;
  background: url('../assets/bg.jpg') center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box {
  background: $white;
  padding: 15%;
}

.bg-semi-transparent {
  background: rgba(245, 245, 245, 0.4);
}
